__pycache__/**
# README.md
database.db
utilities/my_private_key.py
utilities/__pycache__/**
docs/build
software_shop_webapp
software_shop_webapp/__pycache__
software_shop_webapp/utilities
software_shop_webapp/utilities/__pycache__
software_shop_webapp/utilities/my_private_key
tracebacks.py