software_shop_webapp/__pycache__/**
# README.md
software_shop_webapp/utilities/my_private_key.py
utilities/my_private_key.py
utilities/__pycache__/**
docs/build
software_shop_webapp/__pycache__
software_shop_webapp/files
software_shop_webapp/images
software_shop_webapp/videos
software_shop_webapp/utilities/__pycache__
software_shop_webapp/utilities/my_private_key
tracebacks.py
utilities
__pycache__
__pycache__/**