{% macro file_card(file) %}

<div class="product-card-static card mb-3">
    <!-- Информация -->
    <div class="product-info p-3">
        <div class="row row-cols-1">
            <div class="col d-flex justify-content-between align-items-center">
                <!-- Заголовок -->
                <h4 class="product-title flex-grow-1">
                    {{ file['file_uri'] }}
                </h4>
                
                <div>
                    <!-- Кнопочка скачивания файла -->
                    <a href="{{ url_for('download_file', file_uri=file.file_uri, product_id=file.id_product, next='add_file_route') }}">
                        <button class="btn btn-info mt-auto p-2" type="submit">
                            <i class="bi bi-download"></i>
                            Скачать
                        </button>
                    </a>
                    <!-- Кнопочка удаления файла -->
                    <a href="{{ url_for('delete_file_route', file_id=file.file_id) }}">
                        <button class="btn btn-danger mt-auto p-2" type="submit">
                            <i class="bi bi-trash"></i>
                            Удалить
                        </button>
                    </a>
                </div>
            </div>
        </div>        
    </div>
    
</div>
{% endmacro %}