{% macro purchased_product(p, developer) %}


<div class="col-12 mb-3">
    <div class="product-card card">
        <!-- верхняя часть карточки с названием и кнопочками -->
        <div class="d-flex align-items-center p-3">
            <div class="flex-grow-1">
                <h3 class="product-title mb-1">
                    <strong>
                        {{ p.title }}
                    </strong>
                </h3>
                <!-- price (can have discount) -->
                {% if p.price.replace(',', '')|int  >= p.full_price.replace(',', '')|int %}
                <div class="mt-auto product-price">
                    {{ p.full_price }} ₽
                </div>
                {% elif  p.price.replace(',', '')|int < p.full_price.replace(',', '')|int %}
                <div class="mt-auto product-price">
                    {{ p.price }} ₽
                    <del class="product-price-on-sale">
                        {{ p.full_price }} ₽
                    </del>
                </div>
                {% endif %}
            </div>
            <div class="ms-auto d-flex align-items-center gap-2">
                <!-- кнопка скачивания -->
                <form method="GET" action="{{url_for('download', product_id=p.product_id)}}">
                    <button class="btn btn-outline-info px-2 " type="submit">
                        <i class="bi bi-download"></i>
                        <p class="d-none d-lg-inline">Скачать</p>
                    </button>
                </form>
                <!-- кнопка раскрытия всякой информации о товаре -->
                <button class="btn btn-outline-secondary d-lg-none d-md-block" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#{{ 'details-' + (p.product_id|string) }}"
                        aria-expanded="false"
                        aria-controls="{{ 'details-' + (p.product_id|string) }}">
                    <i class="bi bi-chevron-down"></i>
                </button>
            </div>
        </div>
        <!-- контейнер с расркытием всякой инфы о товаре -->
        <div class="collapse d-lg-block pt-0" id="{{ 'details-' + (p.product_id|string) }}">
            <div id="{{developer.developer_name}}">
                <i class="developer-text">
                    <a href="{{url_for('public_developer_profile', developer_id=developer.developer_id)}}">
                        Разработчик: {{developer.developer_name}}
                    </a>
                </i>
            </div>
            <p class="px-3 mb-2 text-black font-medium">
                <b>Описание:</b> {{ p.description }}
            </p>
            <div class="px-3 pb-3">
                <a class="btn btn-outline-info px-3 justify-content-between" 
                href="{{url_for('product', product_id=p.product_id)}}">
                    <i class="bi bi-eye"></i>
                    Перейти на страницу продукта
                </a>
            </div>
        </div>
    </div>
</div>



{% endmacro %}