{% extends 'base.html' %}
{% block content %}

<h2>
    <strong>
        {% block title %} Изменение сладости {% endblock %}
    </strong>
</h2>

<br>

<form method="post" class="px-4">
    <div class="row mb-3">
        <label for="name" class="col-sm-3 col-form-label">Наименование</label>
        <div class="col-sm-8">
            <input type="text" 
                class="form-control" 
                name="name" 
                value="{{ sweet['name'] }}" 
                placeholder="Печенье овсяное">
        </div>
    </div>
    <div class="row mb-3">
        <label for="manufacturer" class="col-sm-3 col-form-label">Производитель</label>
        <div class="col-sm-8">
            <input type="text" 
                class="form-control" 
                name="manufacturer" 
                value="{{ sweet['manufacturer'] }}" 
                placeholder="ООО Кондитерская фабрика">
        </div>
    </div>
    <div class="row mb-3">
        <label for="country" class="col-sm-3 col-form-label">Страна производства</label>
        <div class="col-sm-8">
            <input type="text" 
                class="form-control" 
                name="country" 
                value="{{ sweet['country'] }}" 
                placeholder="Россия">
        </div>
    </div>
    <div class="row mb-3">
        <label for="weight" class="col-sm-3 col-form-label">Вес пачки</label>
        <div class="col-sm-2">
            <input type="text" 
                class="form-control" 
                name="weight" 
                value="{{ sweet['weight'] }}" 
                placeholder="1.0">
        </div>
    </div>
    <div class="row mb-3">
        <label for="price" class="col-sm-3 col-form-label">Цена</label>
        <div class="col-sm-2">
            <input type="text" 
                class="form-control" 
                name="price" 
                value="{{ sweet['price'] }}" 
                placeholder="1500">
        </div>
    </div>
    <div class="row mb-3">
        <label for="calories" class="col-sm-3 col-form-label">Калории</label>
        <div class="col-sm-8">
            <input type="text" 
                class="form-control" 
                name="calories" 
                value="{{ sweet['calories'] }}" 
                placeholder="2200 ккал">
        </div>
    </div>
    <div class="row mb-3">
        <label for="production_date" class="col-sm-3 col-form-label">Дата производства</label>
        <div class="col-sm-2">
            <input type="text" 
                class="form-control" 
                name="production_date" 
                value="{{ sweet['production_date'] }}" 
                placeholder="15.01.2024">
        </div>
    </div>
    <div class="row mb-3">
        <label for="expiration_date" class="col-sm-3 col-form-label">Срок годности</label>
        <div class="col-sm-2">
            <input type="text" 
                class="form-control" 
                name="expiration_date" 
                value="{{ sweet['expiration_date'] }}" 
                placeholder="15.12.2024">
        </div>
    </div>
    <div class="row mb-3">
        <label for="supplier" class="col-sm-3 col-form-label">Поставщик</label>
        <div class="col-sm-8">
            <select class="form-select" name="supplier">
                {% if sweet['supplier_id'] == -1 %}
                <option value='-1' selected>Поставщик...</option>
                {% else %}
                <option value='-1'>Поставщик...</option>
                {% endif %}
                {% for s in suppliers %}
                    {% if sweet['supplier_id'] == s['id']%}
                    <option value={{s.id}} selected>{{ s['company_name']}}</option>
                    {% else %}
                    <option value={{s.id}} >{{ s['company_name']}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label for="contract" class="col-sm-3 col-form-label">Договор</label>
        <div class="col-sm-8">
            <select class="form-select" name="contract">
                {% if sweet['contract_id'] == -1 %}
                <option value='-1' selected>Договор...</option>
                {% else %}
                <option value='-1'>Договор...</option>
                {% endif %}
                {% for c in contracts %}
                    {% if sweet['contract_id'] == c['id']%}
                    <option value={{c.id}} selected>{{ c['number'] }} {{c['deal_type']}} - {{c['company_name']}}</option>
                    {% else %}
                    <option value={{c.id}}>{{ c['number'] }} {{c['deal_type']}} - {{c['company_name']}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    
    <button type="submit" class="btn btn-info"><i class="bi-floppy"></i> Сохранить сладость</button>
</form>

{% endblock %}