{% extends 'base.html' %}
{% block content %}

<h2>
    <strong>
        {% block title %}  Сладость {{ sweet['name'] }} от {{ sweet['manufacturer'] }} {% endblock %}
    </strong>
</h2>

<hr>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Позиция</th>
            <th scope="col">Значение</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Страна производства</th>
            <td>{{ sweet['country'] }} </th>
        </tr>
        <tr>
            <td>Вес</th>
            <td>{{ sweet['weight'] }} кг</th>
        </tr>
        <tr>
            <td>Цена</th>
            <td>{{ sweet['price'] }}</th>
        </tr>
        <tr>
            <td>Калорийность</th>
            <td>{{ sweet['calories'] }} / 5</th>
        </tr>
        <tr>
            <td>Дата производства</th>
            <td>{{ sweet['production_date'] }}</th>
        </tr>
        <tr>
            <td>Срок годности</th>
            <td>{{ sweet['expiration_date'] }}</th>
        </tr>
        <tr>
            <td>Поставщик</th>
            <td>{{ supplier['company_name'] }}</th>
        </tr>
        <tr>
            <td>Договор поставки</th>
            <td>{{ contract['number'] }} {{contract['deal_type']}} - {{contract['company_name']}}</th>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-auto">
        <a href="{{ url_for('edit_sweet', sweet_id=sweet['id'])}}">
            <button type="submit" 
                class="btn btn-info">
            <i class="bi-pencil-square"></i> Изменить сладость </button>
        </a>
    </div>
    <div class="col-auto">
        <a href="{{ url_for('supplier', supplier_id=sweet['supplier_id']) }}">
            <button type="submit" class="btn btn-secondary"><i class="bi-truck"></i> Перейти к поставщику</button>
        </a>
    </div>
    <div class="col-auto">
        <a href="{{ url_for('delete_sweet', sweet_id=sweet['id']) }}">
            <button type="submit" class="btn btn-danger"><i class="bi-trash"></i> Удалить </button>
        </a>
    </div>
</div>

{% endblock %}