{% extends 'base.html' %}
{% block content %}

<h2>
    <strong>
        {% block title %} Добавление нового поставщика {% endblock %}
    </strong>
</h2>

<br>

<form method="post" class="px-4">
    <!-- should also sorta work for the edit 
     page as well, but i'll just
     need to load the data from 
     db but eh 
     
     🤓👍 -->
    <div class="row mb-3">
        <label for="company_name" class="col-sm-3 col-form-label">
            Полное юридическое лицо поставщика
        </label>
        <div class="col-sm-8">
            <input type="text" 
                class="form-control" 
                name="company_name" 
                value="{{ request.form['company_name'] }}" 
                placeholder="ООО Кофейная компания">
        </div> 
    </div>
    <div class="row mb-3">
        <label for="owner_name" class="col-sm-3 col-form-label">
            ФИО руководителя компании
        </label>
        <div class="col-sm-8">
            <input type="text" 
                class="form-control" 
                name="owner_name" 
                value="{{ request.form['owner_name'] }}" 
                placeholder="Иванов Иван Иванович">
        </div> 
    </div>
    <div class="row mb-3">
        <label for="address" class="col-sm-3 col-form-label">
            Адрес поставщика
        </label>
        <div class="col-sm-8">
            <textarea type="text" 
                class="form-control" 
                name="address" 
                rows="2"
                value="{{ request.form['address'] }}" 
                placeholder="Ул. Производственная, д.5"></textarea>
        </div> 
    </div>
    <div class="row mb-3">
        <label for="postal_code" class="col-sm-3 col-form-label">
            Почтовый индекс
        </label>
        <div class="col-sm-8">
            <input type="text" 
                class="form-control" 
                name="postal_code" 
                value="{{ request.form['postal_code'] }}" 
                placeholder="123456">
        </div> 
    </div>
    <div class="row mb-3">
        <label for="phone_number" class="col-sm-3 col-form-label">
            Контактный номер телефона поставщика
        </label>
        <div class="col-sm-8">
            <input type="text" 
                class="form-control" 
                name="phone_number" 
                value="{{ request.form['phone_number'] }}" 
                placeholder="+7(495)123-45-67">
        </div> 
    </div>

    <button type="submit" class="btn btn-primary"> <i class="bi-floppy"></i> Добавить поставщика </button>
</form>

{% endblock %}