{% extends 'base.html' %}
{% block content %}

<h2>
    <strong>
        {% block title %}  Кофе {{ coffee_variety['name'] }} от {{ coffee_variety['manufacturer'] }} {% endblock %}
    </strong>
</h2>

<hr>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Позиция</th>
            <th scope="col">Значение</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Страна производства</th>
            <td>{{ coffee_variety['country'] }} </th>
        </tr>
        <tr>
            <td>Насыщенность</th>
            <td>{{ coffee_variety['intensity'] }} / 5</th>
        </tr>
        <tr>
            <td>Кислотность</th>
            <td>{{ coffee_variety['acidity'] }} / 5</th>
        </tr>
        <tr>
            <td>Сладость</th>
            <td>{{ coffee_variety['sweetness'] }} / 5</th>
        </tr>
        <tr>
            <td>Обжарка</th>
            <td>{{ coffee_variety['roast'] }}</th>
        </tr>
        <tr>
            <td>Тип обжарки</th>
            {% if coffee_variety['dark_or_light_roast'] == 0 %}
            <td>Тёмная обжарка</th>
            {% elif coffee_variety['dark_or_light_roast'] == 1 %}
            <td>Светлая обжарка</th>
            {% else %}
            <td><s>Некорректное значение</s></th>
            {% endif %}
        </tr>
        <tr>
            <td>Вес</th>
            <td>{{ coffee_variety['weight'] }} кг</th>
        </tr>
        <tr>
            <td>Цена</th>
            <td>{{ coffee_variety['price'] }}</th>
        </tr>
        <tr>
            <td>Дата производства</th>
            <td>{{ coffee_variety['production_date'] }}</th>
        </tr>
        <tr>
            <td>Срок годности</th>
            <td>{{ coffee_variety['expiration_date'] }}</th>
        </tr>
        <tr>
            <td>Поставщик</th>
            <td>{{ supplier['company_name'] }}</th>
        </tr>
        <tr>
            <td>Договор поставки</th>
            <td>{{ contract['number'] }} {{contract['deal_type']}} - {{contract['company_name']}}</th>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-auto">
        <a href="{{ url_for('edit_coffee_variety', coffee_variety_id=coffee_variety['id'])}}">
            <button type="submit" 
                class="btn btn-info">
            <i class="bi-pencil-square"></i> Изменить вид кофе </button>
        </a>
    </div>
    <div class="col-auto">
        <a href="{{ url_for('supplier', supplier_id=coffee_variety['supplier_id']) }}">
            <button type="submit" class="btn btn-secondary"><i class="bi-truck"></i> Перейти к поставщику</button>
        </a>
    </div>
    <div class="col-auto">
        <a href="{{ url_for('delete_coffee_variety', coffee_variety_id=coffee_variety['id']) }}">
            <button type="submit" class="btn btn-danger"><i class="bi-trash"></i> Удалить </button>
        </a>
    </div>
</div>

{% endblock %}