{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="product-images">
                <div class="main-image">
                    <img src="{{ product.image_urls[0] | default('static/images/no-image.jpg') }}" 
                         alt="{{ product.title }}" 
                         class="img-fluid">
                </div>
                {% if product.image_urls | length > 1 %}
                <div class="additional-images mt-3">
                    {% for image_url in product.image_urls[1:] %}
                    <img src="{{ image_url }}" 
                         alt="{{ product.title }}" 
                         class="img-thumbnail img-fluid">
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="product-info">
                <h1>{{ product.title }}</h1>
                <p class="price">{{ product.price | format_currency }}</p>
                
                <div class="product-description mt-4">
                    <h3>Описание</h3>
                    <p>{{ product.description }}</p>
                </div>
                
                <div class="product-actions mt-4">
                    {% if current_user.is_authenticated %}
                    <form method="POST" action="{{ url_for('add_to_cart', product_id=product.id) }}">
                        <button type="submit" class="btn btn-primary btn-lg">
                            <i class="fas fa-cart-plus"></i> В корзину
                        </button>
                    </form>
                    {% else %}
                    <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg">
                        <i class="fas fa-cart-plus"></i> В корзину
                    </a>
                    {% endif %}
                    
                    <a href="{{ url_for('cart.index') }}" class="btn btn-outline-primary btn-lg">
                        <i class="fas fa-shopping-cart"></i> Корзина
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}