<!doctype html>
<html lang="en">

</html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS + Icons -->
    <link
        rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous"
    >
    <link 
        rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    >
    <link rel="stylesheet" href="{{url_for('static', filename='css/funky_styles.css')}}">

    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    
    <nav class="store-header navbar navbar-expand-lg bg-body-tertiary flex-column">
        <div class="container-fluid m-0 mx-2 p-0">
            <!-- Brand -->
            <div class="col-sm m-0 p-2">
                <a class="navbar-brand m-0 p-0" href="{{url_for('index')}}">
                    <!-- <div class="col-md-6 mx-3"> -->
                        <h1 class="p-0 m-0">{{self.title()}}</h1>
                        <p class="p-0 m-0">{{self.subtitle()}}</p> 
                    <!-- </div> -->
                </a>
            </div>
            
            
            
            <!-- Mobile toggler buttons container -->
            <div class="d-flex">
                <!-- Mobile toggler search button -->
                <button class="btn btn-outline-light navbar-toggler  d-lg-none"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSearch"
                        aria-controls="navbarSearch"
                        aria-expanded="false"
                        aria-label="Open search">
                    <i class="bi bi-search" style="font-size:x-large;"></i>
                </button>
                
                <!-- Mobile toggler nav button -->
                <button class="btn btn-outline-light navbar-toggler d-lg-none"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="bi bi-list" style="font-size:xx-large;"></i>
                    <!-- <span class="navbar-toggler-icon"></span> -->
                </button>
            </div>
            
            <!-- Mobile search form -->
            <div class="collapse navbar-collapse d-lg-none" id="navbarSearch">
                <form class="d-flex w-100 d-lg-none">
                    <input class="form-control d-lg-none" type="search" placeholder="Поиск" aria-label="Поиск">
                    <button class="btn btn-outline-light d-lg-none" type="submit">Поиск</button>
                </form>
            </div>
            
            <!-- Navigation links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-lg-0">

                    <!-- Desktop search -->
                    <form class="d-flex ms-auto m-1 w-auto d-none d-lg-flex">
                        <div class="input-group" role="group">
                        <input class="form-control me" type="search" placeholder="Поиск" aria-label="Поиск">
                        <button class="btn btn-outline-light" type="submit"><i class="bi bi-search"></i></button>
                        </div>
                    </form>

                    <a href="{{url_for('index')}}" class="btn btn-outline-light m-1" role="button">
                        <i class="bi bi-house"></i>
                        Домашняя страница
                    </a>
                    <button class="btn btn-outline-light m-1">
                        <i class="bi bi-cart"></i>
                        Корзина
                    </button>
                    {% if current_user.is_authenticated %}
                    <button class="btn btn-outline-light m-1" 
                        role="button" 
                        data-bs-toggle="dropdown" 
                        aria-expanded="false">
                        <i class="bi bi-person"></i>
                        Личный кабинет
                        <ul class="dropdown-menu">
                        <!-- <li><a class="dropdown-item" href="#">Action</a></li> -->
                        <a class="dropdown-item" href="{{url_for('account')}}">
                            <li>
                                <i class="bi bi-gear"></i>
                                Аккаунт
                            </li>
                        </a>
                        <li><a class="dropdown-item" href="{{url_for('account_settings')}}">
                            <i class="bi bi-gear"></i>
                            Настройки аккаунта
                        </a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item"
                            href="{{url_for('logout')}}">
                            <i class="bi bi-box-arrow-in-left"></i>
                            Выйти из аккаунта
                        </a></li>
                        </ul>
                    </button>
                    {% else %}
                    <a href="{{url_for('login_page')}}" class="btn btn-outline-light m-1" role="button">
                        <i class="bi bi-box-arrow-in-right"></i>
                        Войти
                    </a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    <main class="container-fluid mt-0">
        <div class="row">
            <div class="col">
                <!-- <div style="padding-left: calc(var(--bs-gutter-x) * .5);
                padding-right: calc(var(--bs-gutter-x) * .5);
                margin-bottom: 16px;"> -->

                {% block content %} {% endblock %}
                <!-- </div> -->
            </div>
        </div>
    </main>
    
    <footer class="store-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>
                        <b>О магазине</b>
                    </h5>
                    <ul>
                        <li><a href="#"><u>О нас</u></a></li>
                        <li><a href="#"><u>Контакты</u></a></li>
                        <li><a href="#"><u>Помощь</u></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>
                        <b>Информация</b>
                    </h5>
                    <ul>
                        <li><a href="#"><u>Доставка</u></a></li>
                        <li><a href="#"><u>Оплата</u></a></li>
                        <li><a href="#"><u>Возврат</u></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>
                        <b>Социальные сети</b>
                    </h5>
                    <ul>
                        <li>
                            <a href="#"><u>ВКонтакте</u></a>
                        </li>
                        <li><a href="#"> 
                            <i class="bi bi-telegram"></i>
                            <u>Telegram</u></a>
                        </li>
                        <!-- <li><a href="#"><u></u></a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>