{% extends 'base.html' %}
{% block title %}Магазин ПС{% endblock %}
{% block subtitle %} Онлайн сервис оплаты программных средств {%endblock%}
{% block content %}


<!-- upper part (navigation buttons) -->
<nav class="store-nav nav-tabs mt-2">
    <div class="nav nav-underlined nav-justified">
        {% for nav_tab in nav_tabs %}
        {% if nav_tab['status']==1 %}
            <button class="nav-link active" 
                data-bs-toggle="tab" 
                data-bs-target="#{{ nav_tab['id'] }}">
                {{ nav_tab["tab_name"] }}
            </button>
        {% else %}
            <button class="nav-link" 
                data-bs-toggle="tab" 
                data-bs-target="#{{ nav_tab['id'] }}">
                {{ nav_tab["tab_name"] }}
            </button>
        {% endif %}
        {% endfor %}

        <!-- <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#all">Все программы</button>
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#popular">Популярные</button>
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#new">Новые поступления</button>
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#sales">Скидки</button> -->
    </div>
</nav>



<!-- elements -->
<div class="tab-content ">

{% for nav_tab in nav_tabs %}
    <!-- Все продукты -->
    {% if nav_tab['id'] == "all"     %}
        <!-- all cards -->
        <div class="tab-pane fade show active" id="all">
            <div class="product-grid">
                {% for product in products %}

                <!-- one card -->
                <div>
                    <a href="{{ url_for('product', product_id=product['product_id']) }}">
                    <div class="product-card">
                        <div class="product-image">
                            <img src="{{ product['image'] }}" alt="{{ product['title'] }}">
                        </div>
                        <div class="product-info" style="position:relative">
                            <a href="{{ url_for('product', product_id=product['product_id']) }}">
                                <h2 class="product-title"> <b>{{ product['title'] }}</b> </h2>
                            </a>
                            <p class="product-description">{{ product['description'] }}</p>
                            <!-- price (can have discount) -->
                            {% if 
                                product['price'].replace(',', '')|int 
                                >= product['full_price'].replace(',', '')|int 
                            %}
                                <div class="mt-auto product-price">{{ product["full_price"] }} ₽</div>
                            {% elif 
                                product['price'].replace(',', '')|int 
                                < product['full_price'].replace(',', '')|int 
                            %}
                                <div class="mt-auto product-price"> 
                                    {{ product["price"] }} ₽
                                    <del class="product-price-on-sale">{{ product["full_price"] }} ₽</del>
                                </div>
                            {% endif %}
                            <a href="{{ url_for('product', product_id=product['product_id']) }}">
                                <button class="mt-auto buy-button">
                                    Купить сейчас
                                </button>
                            </a>
                        </div>
                    </div>
                    </a>
                </div>
                <!-- end of card -->
                
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <!-- Только популярные -->
    {% if nav_tab['id'] == 'popular' %}
        <!-- all cards -->
        <div class="tab-pane fade" id="popular">
            <div class="product-grid">
                {% for product in products %}
                    {% if product['is_popular']|int == 1 %}
                    <!-- one card -->
                <div>
                    <a href="{{ url_for('product', product_id=product['product_id']) }}">
                    <div class="product-card">
                        <div class="product-image">
                            <img src="{{ product['image'] }}" alt="{{ product['title'] }}">
                        </div>
                        <div class="product-info" style="position:relative">
                            <a href="{{ url_for('product', product_id=product['product_id']) }}">
                                <h2 class="product-title"> <b>{{ product['title'] }}</b> </h2>
                            </a>
                            <p class="product-description">{{ product['description'] }}</p>
                            <!-- price (can have discount) -->
                            {% if 
                                product['price'].replace(',', '')|int 
                                >= product['full_price'].replace(',', '')|int 
                            %}
                                <div class="mt-auto product-price">{{ product["full_price"] }} ₽</div>
                            {% elif 
                                product['price'].replace(',', '')|int 
                                < product['full_price'].replace(',', '')|int 
                            %}
                                <div class="mt-auto product-price"> 
                                    {{ product["price"] }} ₽
                                    <del class="product-price-on-sale">{{ product["full_price"] }} ₽</del>
                                </div>
                            {% endif %}
                            <a href="{{ url_for('product', product_id=product['product_id']) }}">
                                <button class="mt-auto buy-button">
                                    Купить сейчас
                                </button>
                            </a>
                        </div>
                    </div>
                    </a>
                </div>
                <!-- end of card -->
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <!-- Только новые -->
    {% if nav_tab['id'] == 'new'     %}
        <!-- all cards -->
        <div class="tab-pane fade" id="new">
            <div class="product-grid">
                {% for product in products %}
                    {% if product['is_new']|int == 1 %}

                    <!-- one card -->
                <div>
                    <a href="{{ url_for('product', product_id=product['product_id']) }}">
                    <div class="product-card">
                        <div class="product-image">
                            <img src="{{ product['image'] }}" alt="{{ product['title'] }}">
                        </div>
                        <div class="product-info" style="position:relative">
                            <a href="{{ url_for('product', product_id=product['product_id']) }}">
                                <h2 class="product-title"> <b>{{ product['title'] }}</b> </h2>
                            </a>
                            <p class="product-description">{{ product['description'] }}</p>
                            <!-- price (can have discount) -->
                            {% if 
                                product['price'].replace(',', '')|int 
                                >= product['full_price'].replace(',', '')|int 
                            %}
                                <div class="mt-auto product-price">{{ product["full_price"] }} ₽</div>
                            {% elif 
                                product['price'].replace(',', '')|int 
                                < product['full_price'].replace(',', '')|int 
                            %}
                                <div class="mt-auto product-price"> 
                                    {{ product["price"] }} ₽
                                    <del class="product-price-on-sale">{{ product["full_price"] }} ₽</del>
                                </div>
                            {% endif %}
                            <a href="{{ url_for('product', product_id=product['product_id']) }}">
                                <button class="mt-auto buy-button">
                                    Купить сейчас
                                </button>
                            </a>
                        </div>
                    </div>
                    </a>
                </div>
                <!-- end of card -->
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <!-- Только по скидке -->
    {% if nav_tab['id'] == 'on_sale' %}
        <!-- all cards -->
        <div class="tab-pane fade show" id="on_sale">
            <div class="product-grid">
                {% for product in products %}
                    {% if 
                        product['price'].replace(',', '')|int 
                        < product['full_price'].replace(',', '')|int 
                    %}

                    <!-- one card -->
                <div>
                    <a href="{{ url_for('product', product_id=product['product_id']) }}">
                    <div class="product-card">
                        <div class="product-image">
                            <img src="{{ product['image'] }}" alt="{{ product['title'] }}">
                        </div>
                        <div class="product-info" style="position:relative">
                            <a href="{{ url_for('product', product_id=product['product_id']) }}">
                                <h2 class="product-title"> <b>{{ product['title'] }}</b> </h2>
                            </a>
                            <p class="product-description">{{ product['description'] }}</p>
                            <!-- price (can have discount) -->
                            {% if 
                                product['price'].replace(',', '')|int 
                                >= product['full_price'].replace(',', '')|int 
                            %}
                                <div class="mt-auto product-price">{{ product["full_price"] }} ₽</div>
                            {% elif 
                                product['price'].replace(',', '')|int 
                                < product['full_price'].replace(',', '')|int 
                            %}
                                <div class="mt-auto product-price"> 
                                    {{ product["price"] }} ₽
                                    <del class="product-price-on-sale">{{ product["full_price"] }} ₽</del>
                                </div>
                            {% endif %}
                            <a href="{{ url_for('product', product_id=product['product_id']) }}">
                                <button class="mt-auto buy-button">
                                    Купить сейчас
                                </button>
                            </a>
                        </div>
                    </div>
                    </a>
                </div>
                <!-- end of card -->
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endfor %}

</div>


{% endblock %}