{% extends 'base.html' %}
{% block content %}

<h2>
    <strong>
        {% block title %}  {{ employee['name'] }} {% endblock %}
    </strong>
</h2>


<hr>
<!-- table -->
<table class="table">
    <thead>
        <tr>
            <th scope="col">Позиция</th>
            <th scope="col">Значение</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Адрес электронной почты сотрудника</th>
            <td>{{ employee['email'] }}</th>
        </tr>
        <tr>
            <td>Номер телефона сотрудника</th>
            <td>{{ employee['phone_number'] }}</th>
        </tr>
        <tr>
            <td>Должность сотрудника</th>
            <td>{{ employee['position'] }}</th>
        </tr>
        <tr>
            <td>Отдел сотрудника</th>
            <td>{{ employee['department'] }}</th>
        </tr>
        {% if employee.chief_id != 0%}
        <tr>
            <td>Руководитель сотрудника</th>
            <td>{{ chief_employee['name']  }}</th>
        </tr>
        {% endif %}
    </tbody>
</table>
<!-- bottom buttons -->
<div class="row">
    <div class="col-auto">
        <a href="{{ url_for('edit_employee', employee_id=employee['id'])}}">
            <button type="submit" 
                class="btn btn-info">
            <i class="bi-pencil-square"></i> Изменить сотрудника </button>
        </a>
    </div>

    <div class="col-auto">
        {% if employee.chief_id == 0%}
        <!-- <a href="/employee/{{employee.chief_id}}"> -->
            <button type="submit" 
                class="btn btn-secondary"
                disabled>
                <i class="bi-people"></i> 
                Перейти к руководителю
            </button>
        <!-- </a> -->
        {% else %}
        <a href="/employee/{{employee.chief_id}}">
            <button type="submit" 
                class="btn btn-secondary">
                <i class="bi-people"></i> 
                Перейти к руководителю
            </button>
        </a>
        {% endif %}
    </div>

    <div class="col-auto">
        <a href="{{ url_for('delete_employee', employee_id=employee['id']) }}">
            <button type="submit" class="btn btn-danger"><i class="bi-trash"></i> Удалить </button>
        </a>
    </div>
</div>

{% endblock %}