{% extends 'base.html' %}
{% block content %}

<h1 style="padding-left: calc(var(--bs-gutter-x) * .5);margin-bottom: 16px;">
    <strong>
        {% block title %} Добавление нового сотрудника {% endblock %}
    </strong>
</h1>

<br>

<form method="post" class="px-4">
    <div class="row mb-3">
        <label for="name" class="col-sm-3 col-form-label">Имя сотрудника</label>
        <div class="col-sm-8">
            <input 
                type="text" 
                class="form-control"
                name="name"
                value="{{ request.form['name'] }}"
                placeholder="Алымов Артём Олегович">
        </div>
    </div>
    <div class="row mb-3">
        <label for="email" class="col-sm-3 col-form-label">Адрес электронной почты</label>
        <div class="col-sm-8">
            <input 
                type="text" 
                class="form-control"
                name="email"
                value="{{ request.form['email'] }}"
                placeholder="artem@mail.ru">
        </div>
    </div>
    <div class="row mb-3">
        <label for="phone_number" class="col-sm-3 col-form-label">Номер телефона сотрудника</label>
        <div class="col-sm-8">
            <input 
                type="text" 
                class="form-control"
                name="phone_number"
                value="{{ request.form['phone_number'] }}"
                placeholder="+7(916)555-35-35">
        </div>
    </div>
    <div class="row mb-3">
        <label for="position" class="col-sm-3 col-form-label">Должность</label>
        <div class="col-sm-8">
            <input 
                type="text" 
                class="form-control"
                name="position"
                value="{{ request.form['position'] }}"
                placeholder="Главный по сотрудникам">
        </div>
    </div>
    <div class="row mb-3">
        <label for="department" class="col-sm-3 col-form-label">Отдел</label>
        <div class="col-sm-8">
            <input 
                type="text" 
                class="form-control"
                name="department"
                value="{{ request.form['department'] }}"
                placeholder="Отдел кадров">
        </div>
    </div>
    <div class="row mb-3">
        <label for="chief" class="col-sm-3 col-form-label">Руководитель</label>
        <div class="col-sm-8">
            <select class="form-select" name="chief">
                <option value='-1' selected>Руководитель...</option>
                {% for e in employees %}
                    <option value={{e.id}}>{{ e.name }}</option>
                {% endfor %}
                <option value='0'>Стать директором компании...</option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary"><i class="bi-floppy"></i> Добавить сотрудника</button>
</form>

{% endblock %}