{% extends 'base.html' %}
{% block content %}

<h2>
    <strong>
        {% block title %}  Договор №{{ contract['number'] }} от {{ contract['date'] }} {% endblock %}
    </strong>
</h2>

<span class="badge bg-warning">{{ contract['deal_type'] }}</span>
{% if contract['status']==1 %}
<span class="badge bg-success"> Сделка активна </span>
{% else %}
<span class="badge bg-danger"> Сделка завершена </span>
{% endif %}

<hr>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Позиция</th>
            <th scope="col">Значение</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Описание</th>
            <td>{{ contract['description'] }}</th>
        </tr>
        <tr>
            <td>Сумма договора</th>
            <td>{{ contract['total_cost'] }}</th>
        </tr>
        <tr>
            <td>Сотрудник</th>
            <td>{{ employee['name'] }}</th>
        </tr>
        <tr>
            <td>Поставщик</th>
            <td>{{ supplier['company_name'] }}</th>
        </tr>
        
    </tbody>
</table>

<div class="row">
    <div class="col-auto">
        <a href="{{ url_for('edit_contract', contract_id=contract['id'])}}">
            <button type="submit" 
                class="btn btn-info">
            <i class="bi-pencil-square"></i> Изменить договор </button>
        </a>
    </div>
    <div class="col-auto">
        <a href="{{ url_for('employee', employee_id=contract['employee_id']) }}">
            <button type="submit" class="btn btn-secondary"><i class="bi-people"></i> Перейти к сотруднику</button>
        </a>
    </div>
    <div class="col-auto">
        <a href="{{ url_for('supplier', supplier_id=contract['supplier_id']) }}">
            <button type="submit" class="btn btn-secondary"><i class="bi-teuck"></i> Перейти к поставщику</button>
        </a>
    </div>
    <div class="col-auto">
        <a href="{{ url_for('delete_contract', contract_id=contract['id']) }}">
            <button type="submit" class="btn btn-danger"><i class="bi-trash"></i> Удалить </button>
        </a>
    </div>
    <div class="col-auto">
        <a href="{{ url_for('generate_contract', id_contract=contract['id']) }}">
            <button type="submit" class="btn btn-primary"><i class="bi-printer"></i> Скачать договор</button>
        </a>
    </div>
</div>

{% endblock %}