{% extends 'base.html' %}
{% block content %}

<h2>
    <strong>
        {% block title %} Редактирование договора {% endblock %}
    </strong>
</h2>

<br>

<form method="post" class="px-4">
    <div class="row mb-3">
        <label for="number-date" class="col-sm-3 col-form-label">Номер, дата договора</label>
        <div class="col-sm-5">
            <input 
                type="text" 
                class="form-control" 
                name="number" 
                value="{{ contract['number'] }}" 
                placeholder="2024-1-ПП">
        </div>
        <div class="col-sm-3">
            <input 
                type="text" 
                class="form-control" 
                name="date" 
                value="{{ contract['date'] }}" 
                placeholder="01.01.2024">
        </div>
    </div>
    <div class="row mb-3">
        <label for="deal_type" class="col-sm-3 col-form-label">Вид договора</label>
        <div class="col-sm-8">
            <input 
                type="text" 
                class="form-control" 
                name="deal_type" 
                value="{{ contract['deal_type'] }}" 
                placeholder="Договор о купле-продаже">
        </div>
    </div>
    <div class="row mb-3">
        <label for="description" class="col-sm-3 col-form-label">Описание</label>
        <div class="col-sm-8">
            <textarea 
                type="text" 
                class="form-control" 
                name="description" 
                value="{{ contract['description'] }}" 
                placeholder="Договор о купле-продаже товаров у компании ООО ВКУС Кампани"
                rows="5"
                >{{ contract['description'] }}</textarea>
        </div>
    </div>
    <div class="row mb-3">
        <label for="status" class="col-sm-3 col-form-label">Статус сделки</label>
        <div class="col-sm-8">
            <select 
                class="form-select" 
                name="status">
                {% if contract['status'] == 0 %}
                <option value='0' selected>Сделка завершена</option>
                <option value='1'>Сделка активна</option>
                {% else %}
                <option value='0'>Сделка завершена</option>
                <option value='1' selected>Сделка активна</option>
                {% endif %}
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label for="total_cost" class="col-sm-3 col-form-label">Сумма сделки</label>
        <div class="col-sm-8">
            <input 
                type="text" 
                class="form-control" 
                name="total_cost" 
                value="{{ contract['total_cost'] }}" 
                placeholder="50000">
        </div>
    </div>
    <div class="row mb-3">
        <label for="supplier" class="col-sm-3 col-form-label">Поставщик</label>
        <div class="col-sm-8">
            <select class="form-select" name="supplier">
                {% if contract['supplier_id'] == -1 %}
                <option value='-1' selected>Поставщик...</option>
                {% else %}
                <option value='-1'>Поставщик...</option>
                {% endif %}
                {% for s in suppliers %}
                    {% if s['id'] == contract['supplier_id'] %}
                    <option value={{s.id}} selected>{{s.company_name}}</option>
                    {% else %}
                    <option value={{s.id}}>{{s.company_name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label for="employee" class="col-sm-3 col-form-label">Сотрудник</label>
        <div class="col-sm-8">
            <select class="form-select" name="employee">
                {% if contract['employee_id'] == -1 %}
                <option value='-1' selected>Сотрудник...</option>
                {% else %}
                <option value='-1'>Сотрудник...</option>
                {% endif %}
                {% for e in employees %}
                    {% if e['id'] == contract['employee_id'] %}
                    <option value={{e.id}} selected>{{e.name}}</option>
                    {% else %}
                    <option value={{e.id}}>{{e.name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-info"><i class="bi-floppy"></i> Сохранить договор</button>
</form>

{% endblock %}