{% extends 'base.html' %}
{% block content %}

<h2>
    <strong>
        {% block title %} Заполнение договора # {{ auto_params['CONTRACT_NUMBER'][1] }} от {{ auto_params['CONTRACT_DATE'][1] }} {% endblock %}
    </strong>
</h2>

<br>
<form method="post" class="px-4">
    
    {% for key in auto_params.keys() %}
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="{{key}}">{{auto_params[key][0]}}</span>
            <input 
                type="text" 
                name="{{key}}" 
                class="form-control" 
                aria-describedby="{{key}}" 
                value="{{auto_params[key][1]}}" 
                readonly>
        </div>
    {% endfor %}
    
    <hr>

    {% for key in contract_params.keys() %}
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="{{key}}">{{contract_params[key]}}</span>
            <input 
                type="text" 
                name="{{key}}" 
                class="form-control form-control-primary" 
                aria-describedby="{{key}}" 
                value="{{request.form[key]}}">
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">
        <i class="bi-file-earmark-binary"></i> 
        Заполнить договор
    </button>
</form>

{% endblock %}