<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин ПО</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        :root {
            --primary-color: #3035ba; 
            --secondary-color: #5230c3;
            --accent-color: #4834ff;
            --text-color: #2d3436;
            --text-color-gray: rgb(163, 158, 193);
            --background-color: #f5f6fa;}
        cool-image{border: solid 3px var(--secondary-color);
                   border-radius: 5px;
        }
        body {
            min-height: 100vh;
            display: grid;
            grid-template-rows: auto 1fr auto;
            background-color: var(--background-color);
            color: var(--text-color);
            font-family: Tahoma, Geneva, Verdana, sans-serif;}
        </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Магазин ПО</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Главная</a>
                    </li>
                </ul>
                <div class="d-flex">
                    {% if current_user.is_authenticated %}
                        <span class="nav-link text-light me-2">Привет, {{ current_user.login }}</span>
                        <a href="{{ url_for('logout') }}" class="nav-link text-light">Выйти</a>
                    {% else %}
                        <button class="btn btn-primary w-100" style="margin: 8px;"> 
                            <a href="{{ url_for('login_page') }}" class="nav-link text-light">Войти</a>
                        </button>
                        <button class="btn btn-primary w-100" style="margin: 8px;"> 
                            <a href="{{ url_for('register_page') }}" class="nav-link text-light">Регистрация</a>
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="card-title text-center">Регистрация</h1>
                        </div>
                        <div class="card-body">
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-success">{{ message }}</div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}


                            <!-- FORM!!! -->
                            <form method="POST">
                                <div class="mb-3">
                                    <label for="login" class="form-label">Логин <b style="color:red">*</b></label>
                                    <input type="text" class="form-control" id="login" name="login" required>
                                </div>
                                <div class="mb-3">
                                    <label for="full_name" class="form-label">Полное ФИО</label>
                                    <input type="text" class="form-control" id="full_name" name="full_name">
                                </div>
                                <div class="mb-3">
                                    <label for="username" class="form-label">Псевдоним (имя, отображаемое другим пользователям)</label>
                                    <input type="username" class="form-control" id="username" name="username">
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Пароль <b style="color:red">*</b></label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                <div class="mb-3">
                                    <label for="password2" class="form-label">Подтверждение пароля <b style="color:red">*</b></label>
                                    <input type="password" class="form-control" id="password2" name="password2" required>
                                </div>
                                <button type="submit" class="btn btn-primary w-100" value="Register">Зарегистрироваться</button>
                            </form>
                            <!-- END OF FORM!!! -->


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>