{% extends 'base.html' %}
{% block content %}

<div class="vertical-center">
    <div class="container">
        <div id="notfound" class="text-center ">
            <br>
            <h1>👽</h1>
            <h1>Ой... Страница не найдена</h1>
            <p><em>К сожалению, такой страницы не существует</em></p>
            <a style="color:rgb(0, 132, 255)" href="/">
                <u><em></em>Вернуться к домашней странице</em></u>
            </a>
        </div>
    </div>
</div>
          
{% endblock %}