{% extends 'base.html' %}
{% block title %}Магазин ПС{% endblock %}
{% block subtitle %} Корзина {%endblock%}
{% block content %}


{% from 'components/product_in_cart.html' import product_in_cart %}


<div class="container py-2 px-2">
    <div class="card p-2" style="background-color: #c6c2d1;border-radius:20px;">
    <div class="row">
        <!-- карточки продуктов -->
        {% if products %}
            {% for p in products %}
            
                {{ product_in_cart(p, developers[p.id_developer]) }}

            {% endfor %}
        {% else %}
            <div class="text-center py-5">
                <h3>Корзина пуста</h3>
                <p class="lead">Добавьте товары для покупки</p>
                <a href="{{ url_for('products') }}" class="btn" style="width: 200px;">
                    Вернуться к покупкам
                </a>
            </div>
        {% endif %}
    </div>
    {% if products %}
    <div class=""></div>
    <div class="row mt-2">
        <div class="col-12">
            <div class="product-card card p-0 bg-white text-black w-100">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-0">
                        <h4 class="mb-0" style="color:var(--text-color)">
                            <strong>
                            Итого:
                            </strong>
                        </h4>
                        <form action="{{url_for('cart')}}" method="POST">
                            <span class="fs-4">
                                <div class="col p-0">
                                    <button class="btn btn-danger m-auto" 
                                        type="submit"
                                        name="action"
                                        value="clear_cart">
                                        <i class="bi bi-trash"></i>
                                        Очистить корзину
                                    </button>
                                    <button class="btn btn-info m-auto" 
                                        type="submit"
                                        name="action"
                                        value="proceed_purchase">
                                        <i class="bi bi-cart-check"></i>
                                        Оформить заказ
                                    </button>
                                </div>
                            </span>
                        </form>
                    </div>
                    <span class="fs-4">
                        <!-- сумма короче -->
                        {% if summa >= full_summa %}
                            <div class="mt-auto product-price">{{ full_summa }} ₽</div>
                        {% elif summa < full_summa %}
                            <div class="mt-auto product-price">
                                {{ summa }} ₽
                                <del class="product-price-on-sale">{{ full_summa }} ₽</del>
                            </div>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
</div>
{% endblock %}