{% extends 'base.html' %}
{% block title %}Магазин ПС{% endblock %}
{% block subtitle %} Оплата заказа {%endblock%}
{% block content %}

{% from 'components/product_in_cart.html' import product_in_cart %}

<div class="container py-2 px-2 m-0">
    <div class="card p-2" style="background-color: #c2d1c6;border-radius:20px;">
    <div class="row">
        <!-- карточки продуктов -->
        {% if products %}
            {% for p in products %}
                {{ product_in_cart(p) }}
            {% endfor %}
        {% else %}
            <div class="text-center py-5">
                <h3>Корзина пуста</h3>
                <p class="lead">Добавьте товары для покупки</p>
                <a href="{{ url_for('products') }}" class="btn" style="width: 200px;">
                    Вернуться к покупкам
                </a>
            </div>
        {% endif %}
    </div>
    {% if products %}
    
    <!-- i want to separate those two bitches but idk how -->

    <div class="row mt-2">
        <div class="col-12">
            <div class="product-card card p-0 bg-white text-black w-100">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-0">
                        <h4 class="mb-0" style="color:var(--text-color)">
                            <strong>
                            Итого:
                            </strong>
                        </h4>
                        <form action="{{url_for('checkout')}}" method="POST">
                            <span class="fs-2">
                                <div class="col">
                                    <button class="btn btn-warning m-auto" 
                                        type="submit"
                                        name="action"
                                        value="go_back">
                                        <i class="bi bi-box-arrow-left"></i>
                                        Вернуться 
                                        <p class="d-none d-lg-inline">
                                            к корзине
                                        </p>
                                    </button>
                                    <button class="btn btn-success m-auto" 
                                    type="submit"
                                    name="action"
                                    value="pay">
                                    <i class="bi bi-cash"></i>
                                    Оплатить
                                    <p class="d-none d-lg-inline">
                                        заказ
                                    </p>
                                    </button>
                                </div>
                            </span>
                        </form>
                    </div>
                    <!-- сумма короче -->
                    {% if summa >= full_summa %}
                        <div class="mt-auto product-price">{{ full_summa }} ₽</div>
                    {% elif summa < full_summa %}
                        <div class="mt-auto product-price">
                            {{ summa }} ₽
                            <del class="product-price-on-sale">{{ full_summa }} ₽</del>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
</div>
{% endblock %}